<mat-card class="about">
	<mat-card-title>Page Under Construction</mat-card-title>
		<mat-card-content> This page will contain the list of the selected garment to rent. </mat-card-content>
</mat-card>

<!-- <mat-tab label="Payment Details" (click)="getCardDetails()">
		<form name="paymentform" #f="ngForm" (ngSubmit)="f.form.valid" class="accountDiv">				
			<div class="creditDiv">
				<div class="surround30">
					<mat-form-field class="width60">
				       	<input matInput type="text" placeholder="Credit Card Number" [(ngModel)]="creditcard" name="creditcard" pattern="[0-9]{16}" minlength="16" maxlength="16" required>  
				       	<mat-hint>Accepts only 16-digit numbers</mat-hint>   
				    </mat-form-field>
				</div>
				<div class="surround30">
					<mat-form-field class="width60">
				       	<input matInput type="text" placeholder="Expiry Date" [(ngModel)]="expirydate" name="expirydate" pattern="[0-9]{1,2}\/[0-9]{2}" minlength="4" maxlength="5" required>  
				       	<mat-hint>Accepts only in the format MM/YY</mat-hint>   
				    </mat-form-field>
				</div>
				<div class="surround30">
				    <mat-form-field class="width60">
				       	<input matInput type="text" placeholder="CVV" [(ngModel)]="cvv" name="cvv" pattern="[0-9]{3}" minlength="3" maxlength="3" required>  
				       	<mat-hint>Accepts only 3-digit numbers</mat-hint>   
				    </mat-form-field> 
				</div>
				<div>
					<button mat-raised-button class="colorBtn" (click)="saveCard()" [disabled]="f.form.pristine || f.form.invalid">Save Payment Details</button>
				</div>
			</div>
		</form>
	</mat-tab> -->
