<mat-card class="member">
  <mat-card-title>Prathyusha Butti</mat-card-title>
  <mat-card-content>Bachelors in Information Technology from Sreenidhi Institute of Science and Technology, India. Worked as a Specialist at Verizon before joining Master’s in Computer Science at University of Arizona. Work Experience of 5.5 years in the software development. </mat-card-content>
</mat-card>

<mat-card class="member">
  <mat-card-title>Priyamvadha Gopalakrishnan</mat-card-title>
  <mat-card-content>Bachelors in Computer Science from Anna University, India and Masters in Business Administration from Madurai Kamraj University, India. Worked as a Techno-Functional Consultant in Tata Consultancy Services for 4 years in Minneapolis before moving to Tucson. Currently works for University of Arizona as a Principal Enterprise Business Analyst in UITS for the past 7 years. Full time Graduate student in the University of Arizona from Fall 2018.</mat-card-content>
</mat-card>

<mat-card class="member">
  <mat-card-title>Ripan Chowdhury</mat-card-title>
  <mat-card-content>Graduated from Kalyani Government Engineering College in 2017. Worked for 6 months in Carpathy Private Limited as a back-end developer. Currently pursuing Masters in Computer Science.</mat-card-content>
</mat-card>

<mat-card class="member">
  <mat-card-title>Royan Tuscano</mat-card-title>
  <mat-card-content>Masters student in Electrical and Computer Engineering. Worked in Printed Energy for 4 months during summer as an Intern. I will graduate in May 2019.</mat-card-content>
</mat-card>

