<mat-card class="about">
  <mat-card-title>Who are we and what we do?</mat-card-title>
  <mat-card-content>Robe Rental is a rental service intended to be a one stop shop for all your garments needs. Our idea is to provide a way to recycle clothes that have been lightly used or never worn. Pick the garments you like and keep them as long as you like. You will be charged a refundable deposit and nominal fee on a day to day basis from the day you receive your shipment.</mat-card-content>
</mat-card>

<mat-card class="about">
  <mat-card-title>How does our rental service work?</mat-card-title>
  <mat-card-content>Browse our carefully chosen collection of garments and add the ones you love to the shopping cart. Once you are satisfied, check out your shopping cart and enter your billing and payment information. After you accept the terms and conditions for the rentals, you will receive a confirmation number and tracking information. You will get an option to receive an email with the same information. You will be charged a refundable deposit and a nominal fee on a day to day basis, from the day you receive your shipment.</mat-card-content>
</mat-card>


	

<mat-card class="about">
  <mat-card-title>How do I return my rentals?</mat-card-title>
	<mat-card-content>When you are ready to return your rentals, click on the ‘initiate return’ button on our website and enter your rental confirmation number. You will then be able to choose which rentals you would like to return (if you rented multiple garments). In the next page, enter your billing information and your shipping address(if different from your initial information). The status of your rental will then change to ‘return initiated’. You will receive a prepaid envelope to ship the garments back with tracking information. We will charge you a deposit amount until we receive the garments. After examining for damages, we will refund the deposit amount back to your payment method.</mat-card-content>
</mat-card>

<mat-card class="about">
  <mat-card-title>How do I upload pictures of my garments to rent out?</mat-card-title>
	<mat-card-content>Once you create a profile in our website, you will get the option to upload high definition pictures of your garments that you would like to rent out. Once you have uploaded the garment type, size and designer information, you will be able to submit. We will then carefully review all the information you provided and get in touch with you to let you know if they have been accepted or rejected. </mat-card-content>
</mat-card>

<mat-card class="about">
  <mat-card-title>What is the revenue quotient for my garments that are rented out?</mat-card-title>
   <mat-card-content>You will receive 50% of the rental revenue for every accepted upload.</mat-card-content>
</mat-card>

<mat-card class="about">
  <mat-card-title>What is the minimum value for the garment uploads?</mat-card-title>
	<mat-card-content>Each rental should at least be worth $40 with a proof of purchase. </mat-card-content>
</mat-card>

<mat-card class="about">
  <mat-card-title>How long can I keep my rentals?</mat-card-title>
	<mat-card-content>You can keep them as long as you’d like and you will be charged a basic rental fee at the time of rental and a nominal fee for each day you keep the garments.</mat-card-content>
</mat-card>

<mat-card class="about">
  <mat-card-title>What is the warranty and guarantee for the garments I rent out?</mat-card-title>
	<mat-card-content>We will take utmost care of your garments and have it professionally dry cleaned after every rental return. If your garment is purchased, you will receive 50% of its original value and 50% of the fee for each day it was rented out till that point.
	If your garment is damaged by the customer, we will charge them a deposit amount and fix your garment. If it is damaged beyond repair, we will refund you 60% of its original value and 60% of the per day rental charge up to the date of return.</mat-card-content>
</mat-card>

<mat-card class="about">
  <mat-card-title>I want to rent a designer garment only for a day. How does that work?</mat-card-title>
	<mat-card-content>When you checkout your shopping cart, you will be given an option to select ‘less than 5 days’ rent. You will receive your return shipping label along with your rental shipment. This will help you to return your rentals within 5 days. The rental charge per day is slightly more for 1 - 5 days rental than the regular rentals. </mat-card-content>
</mat-card>

<mat-card class="about">
  <mat-card-title>Is there a limit on the number of garments I can rent?</mat-card-title>
	<mat-card-content>Yes, the limit per account is 5 garments per month.</mat-card-content>
</mat-card>

<mat-card class="about">
  <mat-card-title>Is there a limit on the number of garments I can rent out?</mat-card-title>
	<mat-card-content>Yes, the limit per account is 5 garments per month.</mat-card-content>
</mat-card>




