<!-- <header>
  <div class="container">
    <a routerLink="/" class="logo">Robe Rental</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">How it works</a></li>
        <li><a routerLink="/team">Team</a></li>
        <li><a routerLink="/cart">Cart</a></li>
      </ul>
    </nav>
  </div>
</header> -->

<mat-toolbar class="bgColor">
  <mat-toolbar-row>
  	<div class="width40">Robe Rental</div>
    <nav mat-tab-nav-bar [backgroundColor]="background">
  		  <a mat-tab-link routerLink="/"> Home </a>
  		  <a mat-tab-link routerLink="/about">How it works</a>
        <a mat-tab-link routerLink="/team">Team</a>
        <a mat-tab-link routerLink="/cart">Cart</a>
        <a mat-tab-link routerLink="/login">Sign In</a>
        <a mat-tab-link routerLink="/myaccount" ng-if="canDisplayRoute">My Account</a>
	</nav>

  </mat-toolbar-row>
</mat-toolbar>
