.example-card {
	width: 50%;
    margin: 0 auto;
    position: relative;
    top: 100px;
    -moz-box-shadow:    3px 3px 3px 3px #ADD8E6;
  	-webkit-box-shadow: 3px 3px 3px 3px #ADD8E6;
  	box-shadow:         3px 3px 3px 3px #ADD8E6;
}

.colorBtn {
	background-color : #ADD8E6;
	color: black;
}

.width50{
	width: 50%;
}

.width100{
	width:100%;
}

.errorMsg {
	
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 10px;
    font-color: red;
    color: red;

}